#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{menu id:"dashboard"/}


<section class="ui raised segment">

  <div class="ui four column center aligned grid">



    <div class="column">


      <i class="huge user circle icon"></i>

      <header class="ui header">
      ${member.firstname} ${member.lastname}
      </header>
    </div>

    <div class="column">


#{if member.isIdealBodyWeight}
  <i class="huge green dashboard icon"></i>
#{/if}
#{if !member.isIdealBodyWeight}
  <i class="huge red dashboard icon"></i>
#{/if}

      <header class="ui header">

      Members Ideal Weight  </br>

      </header>

    </div>

    <div class="column">

      <i class=" huge heartbeat icon"></i>
      <header class="ui header">
      ${member.bmi} </br>BMI
      </header>
    </div>


    <div class="column">

      <i class=" huge user md icon"></i>

      <header class="ui header">
      ${member.bmiCategory} </br>BMI Category
      </header>
    </div>
  </div>



    </div>
    <div class="right item">
      <div class="ui action input">

      </div>
    </div>
  </div>


<form class="ui stacked segment form" action="/dashboard/addassessment" method="POST">
  <div class=" three fields">
    <div class="field">

    <label>Weight</label>
      <input placeholder="00.00kg" type="text" name="weight"></div>
    <div class="field">
    <label>Chest</label>
    <input placeholder="00.00cm" type="text" name="chest"></div>
    <div class="field">
    <label>Thigh</label>
      <input placeholder="00.00cm" type="text" name="thigh"></div></div>

    <div class=" three fields">
      <div class="field">
    <label>Upper Arm</label>

    <input placeholder="00.00cm" type="text" name="upperArm"></div>
        <div class="field">
    <label>Waist</label>
    <input placeholder="00.00cm" type="text" name="waist"></div>
        <div class="field">
    <label>Hips</label>
    <input placeholder="00.00cm" type="text" name="hips"></div>



  </div>
  </div>
  </div>
  <button class="ui blue submit button">Add Assessment</button></div>
  <div class="field">

</form>
</section>
</div>
</div>
</div>

<section class="ui raised segment">
  <header class="ui header">
    Assessment
  </header>
  <table class="ui celled table">
    <thead>
    <tr><th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comments</th>
    </tr>

    </thead>

  #{list items:assessmentList, as:'assessment'}
  <tr>

    <td><div class="ui item"> ${assessment.weight} </div></td>
    <td><div class="ui item"> ${assessment.chest} </div></td>
    <td><div class="ui item"> ${assessment.thigh} </div></td>
    <td><div class="ui item"> ${assessment.upperArm} </div></td>
    <td><div class="ui item"> ${assessment.waist} </div></td>
    <td><div class="ui item"> ${assessment.hips} </div></td>
    <td><div class="ui item"> ${assessment.trainerComment} </div></td>
<td><div class="ui item"><a href="/dashboard/deleteassessment/${assessment.id}" class="ui icon button">
  <i class="icon trash"></i></div></td>
  </tr>

  #{/list}

  </table>

</section>

